<div class="container">
  <div class="row">
    <div class="col-lg-12">
            <div style="background-image: url('assets/img/ems.jpg');height:500px;width:1000px">
              <div class="centered">
                <p style="color:white">A way to manage employees online</p>
                <h2 style="color:white" >Employee Management System</h2>
                  <a routerLink="/login" class="nav-link" routerLinkActive="active" ><button class="d">Login To Admin</button> </a>
              </div>
              </div>
      </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <p>An employee management system is a platform where all work-related as well as important personal details of an employee is stored and managed in a secure way. By using this system, you can manage admin activities in an easier and quicker way.

        Employees are the pillar of any organization and an ideal employee management tool makes a big difference to an orgEmployee management is a process that helps your workers perform at their best and achieve your business goals. It’s a holistic process that covers almost everything related to human resources such as new employee recruitment, payroll management, performance management and more.</p>
    </div>
  </div>
</div>
